body {
    background: url('../img/bg2.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-y: scroll;
}

#chatBox {
	background: #ffffff;
	width: 500px;
	height: 420px;
	overflow-y: scroll;
	border-top: #c0c0c0 1px solid;	
	border-bottom: #c0c0c0 1px solid;	
	border-right: #c0c0c0 1px solid;
	border-left: #c0c0c0 1px solid; 
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px; 
	padding-left: 3px; 
	font-family: comic sans ms;
	font-size: 10pt;
}

.logo {
	position: relative;
	top: 70px;
}

.logo2 {
	position: relative;
	top: 25px;
}

.content {
	position: relative;
	top: 40px;
}

.text {
	font-family: Verdana; 
}

.powered {
	position: relative;
    top: 30px;
	font-family: Arial;
	color: red;
	font-size: 11px;
	line-height: 14px;	
}

.copyright {
	position: relative;
    top: 30px;
	font-family: Arial;
	line-height: 14px;
	color: black;
	font-size: 12px;
	font-weight:bold;
}

.copyright a {
	color: red;
	TEXT-DECORATION: none;
}